.footer{
    width: 100%;

    background-color: var(--footer-color); 
    box-sizing: border-box;
    padding: 150px 150px;

    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
}

.footer-copy-container{

    background-color: var(--pallete-2);
}
.footer-copy-container p{
    color: white;
    font-style: italic;
}

@media(max-width: 660px){
    .footer-info{
        padding: 10px 0 40px 0;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .footer-info-image-container img{
        width: 30%;
    }
}
@media(max-width: 500px){
    .footer{
        padding: 50px 30px;
    }
    .footer-info-image-container img{
        width: 50%;
    }
    .footer-copy-container{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 30px !important;
    }
    .footer-copy-container .version-container{
        gap: 10px !important;
    }
}