.graph-container {
    position: relative;
    margin: auto;
    width: 50vw;
}
canvas {
    box-sizing: border-box;
    width: 100%;
    min-height: 600px;
}

/*
  Breakpoint: <=1150px
  Ajusta layout de gráficos para una sola columna o ancho completo.
*/
@media(max-width: 1150px) {
    .graph-container {
        width: 100%;
    }
}