:root{
    /* Paleta de colores */
    --navbar-color: transparent;
    --footer-color:  #10002b;

    --main-body-color: #E6EFFD;
    --main-title-color: #e0aaff;

    --lines-color: #c77dff;
    --lines-color2: #240046;

    --pallete-1: #c77dff;
    --pallete-2: #EB3678;
    --pallete-3: #e0aaff;
    --pallete-4: rgba(36, 0, 70, 0.6);
    --pallete-5: rgba(235, 54, 120, 0.1);
    --pallete-6: #efd3ff;

    --text-color: #717171;


    --all-info-container-color: #E6EFFD;
    
    /* Variables varias */

    --navbar-height: 75px;

    --black-to-white-color: #000000;
    --white-to-black-color: #FFFFFF;


    --white: rgba(255,255,255,1);
    --white-025: rgba(255,255,255,.25);
    --white-05: rgba(255,255,255,.5);
    --white-075: rgba(255,255,255,.75);
    --white-095: rgba(255,255,255,0.95);

    --black: rgba(0,0,0,1);
    --black-01: rgba(0,0,0,0.1);
    --black-025: rgba(0,0,0,0.25);
    --black-05: rgba(0,0,0,0.5);

}

html {
    scroll-behavior: smooth;
}

p, span, div, h2, h1 {
    margin: 0 !important;
}

body {
    margin: 0;
    font-family: "Syne", sans-serif !important;
    font-weight: 100;
    font-style: normal;

    background: var(--main-body-color) !important;

    transition: all 0.2s ease;
    box-sizing: border-box;

}
* {
    padding: 0;
    margin: 0;
}
