CREATE DATABASE SCEEV_DB;
GO

USE [SCEEV_DB]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[ID_Departamento] [int] NOT NULL,
	[Codigo_DANE] [varchar](2) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[ID_Region] [int] NOT NULL,
 CONSTRAINT [PK__Departam__249DEFBEC49C6D42] PRIMARY KEY CLUSTERED 
(
	[ID_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplinas]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplinas](
	[ID_Disciplina] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Discipli__CC42714D136C6616] PRIMARY KEY CLUSTERED 
(
	[ID_Disciplina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleador]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleador](
	[ID_Empleador] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Tipo_Documento] [int] NOT NULL,
 CONSTRAINT [PK__Empleado__EFACC9263B0FCAC9] PRIMARY KEY CLUSTERED 
(
	[ID_Empleador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[ID_Municipio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[ID_Departamento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Municipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel_Estudios]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel_Estudios](
	[ID_Nivel_Estudios] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Nivel_Estudios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ofertas_empleo_completo]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ofertas_empleo_completo](
	[Codigo_Oferta] [int] NOT NULL,
	[Titulo_Oferta] [varchar](255) NOT NULL,
	[Descripcion_Oferta] [text] NOT NULL,
	[Experiencia] [int] NOT NULL,
	[Salario_Ingresado] [int] NULL,
	[Cantidad_Ofertas] [int] NOT NULL,
	[Teletrabajo] [bit] NOT NULL,
	[Discapacidad] [bit] NOT NULL,
	[Cargo] [varchar](255) NOT NULL,
	[Fecha_Publicacion] [datetime] NOT NULL,
	[Fecha_Vencimiento] [datetime] NOT NULL,
	[ID_Prestador] [int] NOT NULL,
	[Prestadores] [varchar](255) NOT NULL,
	[Tipo_Contrato] [varchar](100) NOT NULL,
	[Nivel_Estudios] [varchar](255) NOT NULL,
	[Disciplinas] [varchar](255) NOT NULL,
	[ID_Empleador] [int] NOT NULL,
	[Empleador] [varchar](255) NOT NULL,
	[Tipo_Documento_Empleador] [varchar](50) NOT NULL,
	[Departamentos] [varchar](255) NOT NULL,
	[Municipios] [varchar](255) NOT NULL,
	[Regiones] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Ofertas___95998935663D434C] PRIMARY KEY CLUSTERED 
(
	[Codigo_Oferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ofertas_Empleo_Desglosado]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ofertas_Empleo_Desglosado](
	[Codigo_Oferta] [int] NOT NULL,
	[Titulo_Oferta] [varchar](255) NOT NULL,
	[Descripcion_Oferta] [text] NOT NULL,
	[Experiencia] [int] NOT NULL,
	[Salario_Ingresado] [int] NULL,
	[Cantidad_Ofertas] [int] NOT NULL,
	[Teletrabajo] [bit] NOT NULL,
	[Discapacidad] [bit] NOT NULL,
	[Cargo] [varchar](255) NOT NULL,
	[Fecha_Publicacion] [datetime] NOT NULL,
	[Fecha_Vencimiento] [datetime] NOT NULL,
	[ID_Prestador] [int] NOT NULL,
	[ID_Tipo_Contrato] [int] NOT NULL,
	[ID_Nivel_Estudios] [int] NOT NULL,
	[ID_Departamento] [int] NOT NULL,
	[ID_Empleador] [int] NOT NULL,
	[ID_Municipio] [int] NOT NULL,
	[ID_Region] [int] NOT NULL,
	[ID_Disciplina] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo_Oferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestadores]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestadores](
	[ID_Prestador] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[ID_Tipo_Prestador] [int] NOT NULL,
 CONSTRAINT [PK__Prestado__73E4E2929EE54AFD] PRIMARY KEY CLUSTERED 
(
	[ID_Prestador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regiones]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regiones](
	[ID_Region] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Region] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Contrato]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Contrato](
	[ID_Tipo_Contrato] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_Contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Documento]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Documento](
	[ID_Tipo_Documento] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Prestadores]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Prestadores](
	[ID_Tipo_Prestadores] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_Prestadores] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Usuarios]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Usuarios](
	[ID_Tipo_Usuarios] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tipo_Usuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/11/2024 11:23:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Cedula_Usuario] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Correo] [varchar](255) NOT NULL,
	[Contraseña] [text] NOT NULL,
	[ID_Tipo_De_Usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Departamentos] ([ID_Departamento], [Codigo_DANE], [Nombre], [ID_Region]) VALUES (1, N'91', N'Amazonas', 1)
INSERT [dbo].[Departamentos] ([ID_Departamento], [Codigo_DANE], [Nombre], [ID_Region]) VALUES (2, N'05', N'Antioquia', 2)
INSERT [dbo].[Departamentos] ([ID_Departamento], [Codigo_DANE], [Nombre], [ID_Region]) VALUES (3, N'81', N'Arauca', 5)
GO
SET IDENTITY_INSERT [dbo].[Disciplinas] ON 

INSERT [dbo].[Disciplinas] ([ID_Disciplina], [Nombre]) VALUES (1, N'analista de datos')
INSERT [dbo].[Disciplinas] ([ID_Disciplina], [Nombre]) VALUES (2, N'Fontanero')
INSERT [dbo].[Disciplinas] ([ID_Disciplina], [Nombre]) VALUES (3, N'COMUNICACION SOCIAL Y PERIODISMO-COMUNICACION CORPORATIVA')
GO
SET IDENTITY_INSERT [dbo].[Disciplinas] OFF
GO
INSERT [dbo].[Empleador] ([ID_Empleador], [Nombre], [Tipo_Documento]) VALUES (1, N'Familia', 3)
INSERT [dbo].[Empleador] ([ID_Empleador], [Nombre], [Tipo_Documento]) VALUES (2, N'DISTRIBUCIONES M & M P.G', 3)
INSERT [dbo].[Empleador] ([ID_Empleador], [Nombre], [Tipo_Documento]) VALUES (3, N'Texaco', 3)
GO

SET IDENTITY_INSERT [dbo].[Municipios] ON 
INSERT [dbo].[Municipios] ([ID_Municipio], [Nombre], [ID_Departamento]) VALUES (1089, N'PROVIDENCIA', 4)
INSERT [dbo].[Municipios] ([ID_Municipio], [Nombre], [ID_Departamento]) VALUES (1090, N'LETICIA', 1)
INSERT [dbo].[Municipios] ([ID_Municipio], [Nombre], [ID_Departamento]) VALUES (1091, N'EL ENCANTO', 1)
GO
SET IDENTITY_INSERT [dbo].[Municipios] OFF
GO
INSERT [dbo].[Nivel_Estudios] ([ID_Nivel_Estudios], [Nombre]) VALUES (1, N'Básica secundaria')
INSERT [dbo].[Nivel_Estudios] ([ID_Nivel_Estudios], [Nombre]) VALUES (2, N'Doctorado')
INSERT [dbo].[Nivel_Estudios] ([ID_Nivel_Estudios], [Nombre]) VALUES (3, N'Especialización')
GO
INSERT [dbo].[Prestadores] ([ID_Prestador], [Nombre], [ID_Tipo_Prestador]) VALUES (1, N'ALCALDIA DE FACATATIVÁ', 1)
INSERT [dbo].[Prestadores] ([ID_Prestador], [Nombre], [ID_Tipo_Prestador]) VALUES (2, N'CAJA DE COMPENSACIÓN FAMILIAR DE ARAUCA - COMFIAR', 1)
INSERT [dbo].[Prestadores] ([ID_Prestador], [Nombre], [ID_Tipo_Prestador]) VALUES (3, N'MUNICIPIO DE RIONEGRO', 1)
GO
INSERT [dbo].[Regiones] ([ID_Region], [Nombre]) VALUES (1, N'Amazonía')
INSERT [dbo].[Regiones] ([ID_Region], [Nombre]) VALUES (2, N'Andina')
INSERT [dbo].[Regiones] ([ID_Region], [Nombre]) VALUES (3, N'Caribe')
GO
INSERT [dbo].[Tipo_Contrato] ([ID_Tipo_Contrato], [Nombre]) VALUES (1, N'Otro')
INSERT [dbo].[Tipo_Contrato] ([ID_Tipo_Contrato], [Nombre]) VALUES (2, N'Por obra o labor')
INSERT [dbo].[Tipo_Contrato] ([ID_Tipo_Contrato], [Nombre]) VALUES (3, N'Prestación de servicios')
GO
INSERT [dbo].[Tipo_Documento] ([ID_Tipo_Documento], [Nombre]) VALUES (1, N'Cédula de Ciudadanía')
INSERT [dbo].[Tipo_Documento] ([ID_Tipo_Documento], [Nombre]) VALUES (2, N'Cédula de Extranjería')
INSERT [dbo].[Tipo_Documento] ([ID_Tipo_Documento], [Nombre]) VALUES (3, N'Número de Identificación Tributaria')
GO
INSERT [dbo].[Tipo_Prestadores] ([ID_Tipo_Prestadores], [Nombre]) VALUES (1, N'AGENCIA')
INSERT [dbo].[Tipo_Prestadores] ([ID_Tipo_Prestadores], [Nombre]) VALUES (2, N'BOLSA')
GO
INSERT [dbo].[Tipo_Usuarios] ([ID_Tipo_Usuarios], [Nombre]) VALUES (1, N'Administrador')
GO
INSERT [dbo].[Usuarios] ([Cedula_Usuario], [Nombre], [Apellidos], [Correo], [Contraseña], [ID_Tipo_De_Usuario]) VALUES (1016712696, N'Nicolas Daza', N'Redondo', N'nicolas-dazar@unilibre.edu.co', N'$2b$10$lviAWhOYf1SWDSj41b1FCe17eSeLln5Bncf5ZzhQ/keyRMdAz6vau', 1)
INSERT [dbo].[Usuarios] ([Cedula_Usuario], [Nombre], [Apellidos], [Correo], [Contraseña], [ID_Tipo_De_Usuario]) VALUES (1016947063, N'Johel Santiago', N'Arias Becerra', N'santiari05@hotmail.com', N'$2b$10$pY5JINU8DNEU1DuLLPE/a.Arm9VipTccjKNeQ2S6n/sqPTrOaU68C', 1)
INSERT [dbo].[Usuarios] ([Cedula_Usuario], [Nombre], [Apellidos], [Correo], [Contraseña], [ID_Tipo_De_Usuario]) VALUES (1234567890, N'Developer', N'Testing', N'test@mail.com', N'$2b$10$pY5JINU8DNEU1DuLLPE/a.Arm9VipTccjKNeQ2S6n/sqPTrOaU68C', 1)
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD  CONSTRAINT [FK__Departame__ID_Re__44FF419A] FOREIGN KEY([ID_Region])
REFERENCES [dbo].[Regiones] ([ID_Region])
GO
ALTER TABLE [dbo].[Departamentos] CHECK CONSTRAINT [FK__Departame__ID_Re__44FF419A]
GO
ALTER TABLE [dbo].[Empleador]  WITH CHECK ADD  CONSTRAINT [FK__Empleador__Tipo___5165187F] FOREIGN KEY([Tipo_Documento])
REFERENCES [dbo].[Tipo_Documento] ([ID_Tipo_Documento])
GO
ALTER TABLE [dbo].[Empleador] CHECK CONSTRAINT [FK__Empleador__Tipo___5165187F]
GO
ALTER TABLE [dbo].[Municipios]  WITH CHECK ADD  CONSTRAINT [FK__Municipio__ID_De__47DBAE45] FOREIGN KEY([ID_Departamento])
REFERENCES [dbo].[Departamentos] ([ID_Departamento])
GO
ALTER TABLE [dbo].[Municipios] CHECK CONSTRAINT [FK__Municipio__ID_De__47DBAE45]
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado]  WITH CHECK ADD  CONSTRAINT [FK__Ofertas_E__ID_De__5629CD9C] FOREIGN KEY([ID_Departamento])
REFERENCES [dbo].[Departamentos] ([ID_Departamento])
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado] CHECK CONSTRAINT [FK__Ofertas_E__ID_De__5629CD9C]
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado]  WITH CHECK ADD  CONSTRAINT [FK__Ofertas_E__ID_Di__5441852A] FOREIGN KEY([ID_Disciplina])
REFERENCES [dbo].[Disciplinas] ([ID_Disciplina])
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado] CHECK CONSTRAINT [FK__Ofertas_E__ID_Di__5441852A]
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado]  WITH CHECK ADD  CONSTRAINT [FK__Ofertas_E__ID_Em__5535A963] FOREIGN KEY([ID_Empleador])
REFERENCES [dbo].[Empleador] ([ID_Empleador])
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado] CHECK CONSTRAINT [FK__Ofertas_E__ID_Em__5535A963]
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado]  WITH CHECK ADD FOREIGN KEY([ID_Municipio])
REFERENCES [dbo].[Municipios] ([ID_Municipio])
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado]  WITH CHECK ADD FOREIGN KEY([ID_Nivel_Estudios])
REFERENCES [dbo].[Nivel_Estudios] ([ID_Nivel_Estudios])
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado]  WITH CHECK ADD  CONSTRAINT [FK__Ofertas_E__ID_Pr__5812160E] FOREIGN KEY([ID_Prestador])
REFERENCES [dbo].[Prestadores] ([ID_Prestador])
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado] CHECK CONSTRAINT [FK__Ofertas_E__ID_Pr__5812160E]
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado]  WITH CHECK ADD FOREIGN KEY([ID_Region])
REFERENCES [dbo].[Regiones] ([ID_Region])
GO
ALTER TABLE [dbo].[Ofertas_Empleo_Desglosado]  WITH CHECK ADD FOREIGN KEY([ID_Tipo_Contrato])
REFERENCES [dbo].[Tipo_Contrato] ([ID_Tipo_Contrato])
GO
ALTER TABLE [dbo].[Prestadores]  WITH CHECK ADD  CONSTRAINT [FK__Prestador__ID_Ti__5AEE82B9] FOREIGN KEY([ID_Tipo_Prestador])
REFERENCES [dbo].[Tipo_Prestadores] ([ID_Tipo_Prestadores])
GO
ALTER TABLE [dbo].[Prestadores] CHECK CONSTRAINT [FK__Prestador__ID_Ti__5AEE82B9]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([ID_Tipo_De_Usuario])
REFERENCES [dbo].[Tipo_Usuarios] ([ID_Tipo_Usuarios])
GO
/****** Object:  StoredProcedure [dbo].[Crear_Ofertas_Completo]    Script Date: 14/11/2024 11:23:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Crear_Ofertas_Completo]
AS
BEGIN
	DELETE FROM Ofertas_empleo_completo

	INSERT INTO Ofertas_empleo_completo (
		Codigo_Oferta,
		Titulo_Oferta,
		Descripcion_Oferta,
		Experiencia,
		Salario_Ingresado,
		Cantidad_Ofertas,
		Teletrabajo,
		Discapacidad,
		Cargo,
		Fecha_Publicacion,
		Fecha_Vencimiento,
		ID_Prestador,
		Prestadores,
		Tipo_Contrato,
		Nivel_Estudios,
		Disciplinas,
		ID_Empleador,
		Empleador,
		Tipo_Documento_Empleador,
		Departamentos,
		Municipios,
		Regiones
	)
	SELECT 
		oed.Codigo_Oferta,
		oed.Titulo_Oferta,
		oed.Descripcion_Oferta,
		oed.Experiencia,
		oed.Salario_Ingresado,
		oed.Cantidad_Ofertas,
		oed.Teletrabajo,
		oed.Discapacidad,
		oed.Cargo,
		oed.Fecha_Publicacion,
		oed.Fecha_Vencimiento,
		p.ID_Prestador,
		p.Nombre,
		tc.Nombre,
		ne.Nombre,
		di.Nombre,
		e.ID_Empleador,
		e.Nombre,
		td.Nombre,
		d.Nombre,
		m.Nombre,
		r.Nombre

	FROM Ofertas_Empleo_Desglosado oed
		JOIN Prestadores p ON oed.ID_Prestador = p.ID_Prestador
		JOIN Tipo_Contrato tc ON oed.ID_Tipo_Contrato = tc.ID_Tipo_Contrato
		JOIN Nivel_Estudios ne ON oed.ID_Nivel_Estudios = ne.ID_Nivel_Estudios
		JOIN Departamentos d ON oed.ID_Departamento = d.ID_Departamento
		JOIN Empleador e ON oed.ID_Empleador = e.ID_Empleador
		JOIN Municipios m ON oed.ID_Municipio = m.ID_Municipio
		JOIN Regiones r ON oed.ID_Region = r.ID_Region
		JOIN Disciplinas di ON oed.ID_Disciplina = di.ID_Disciplina
		JOIN Tipo_Documento td ON e.Tipo_Documento = td.ID_Tipo_Documento
END;
GO
