.title-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.title {
    width: 100%;

    font-family: "Syne";

    text-align: center;
    font-size: 50px;
    color: var(--main-title-color);

    transition: all 0.2s ease;

    font-weight: 600;
}

/* <=800px: reduce tamaño de títulos */
@media (max-width: 800px) {
    .title {
        font-size: 20px;
    }
}
/* <=450px: títulos más compactos en móviles pequeños */
@media (max-width: 450px) {
    .title {
        font-size: 16px;
    }
}